/todo: setup local variables instead of instance
%table.display_notes
  - @song.measures.each do |measure|
    - measure.positions.each do |pos|
      %td(valign="top")
        %table
          - measure.notes_by_position[pos].reverse.each do |measure_note|
            %tr
              %td
                = measure_note.name
              /= render :partial => 'edit_measure_note', locals: {song: @song, measure: measure, measure_note: measure_note, notes: @notes}

          %tr
            %td
              = link_to 'edit', edit_song_measure_path(@song, measure, position: pos), remote: true

#all-notes{data: {notes: all_notes(@song)}}

.edit_measure_position

= render 'add_stuff'
