%table.display_notes
  %tr
    - @song.measures.each do |measure|
      - measure.positions.each do |pos|
        %td(valign="top")
          - if measure.notes_by_position[pos].size > 0
            %table
              %tr
                %th
                  -if chord = chord_at(measure, pos)
                    =chord
                  - else
                    &nbsp;
              %tr
                %td
                  = measure.melody_note(pos).name
              %tr
                %td
                  - notes = measure.notes_by_position[pos].reverse.map(&:name)
                  %a#play_chord{data: {notes: notes}, href: '#scale_notes'} play
              
      %td
        %b
          |
        %br
        %b
          |

= render 'add_stuff'