- note = verse.get_note_number_at(index)
- if note && note.note_number
  - unless @show_notes
    - if @edit
      = link_to note.description, song_name_edit_song_note_path(verse.song_name_id,
            edit_index: index, verse_id: verse, edit_note: true), remote: true
    - else
      = note.description
  - else
    = Chord.chord_by_scale_and_number(@song_name.note.name, note.note_number, modifier: note.note_modifier, chord: note.try(:chord))
- else
  - if @edit
    %span.add_note
      = link_to '+', song_name_edit_song_note_path(verse.song_name_id,
          edit_index: index, verse_id: verse, edit_note: true), remote: true
  - else
    &nbsp;