- if verse.word_notes.present? && verse.word_notes.select{|note| note.line_position == index}.first
  - note_number = verse.word_notes.select{|note| note.line_position == index}.first.note_number
  - unless @show_notes
    = link_to note_number, song_name_edit_song_note_path(verse.song_name_id, 
          edit_index: index, verse_id: verse, edit_note: true), remote: true
  - else
    = Chord.chord_by_scale_and_number(@song_name.song.note.name, note_number)
- else
  - if @edit
    %span.add_note
      = link_to '+', song_name_edit_song_note_path(verse.song_name_id, 
          edit_index: index, verse_id: verse, edit_note: true), remote: true
  - else
    &nbsp;