%p
  %b Enter lyrics for :
  = @song_name.title

#verses
  = render 'verses/show_verses', verses: @song_name.verses, song_notes: @song_notes

#add_verse
  = render 'verses/form'

%p
  = link_to 'Done', song_name_path(@song_name)