%h3 Songs

%table
  %tr
    %th
    %th
    %th

  - @song_names.each do |song_name|
    %tr
      %td= link_to song_name.title, song_name
      %td= song_name.description
      %td

%br

= link_to 'Create a song', new_song_name_path if user_signed_in?
