table.verses {

  td {
    margin: 0px;
    padding: 0px;
  }
}

ul.verses {
  list-style: none;
  margin-top: 30px;
  margin-left: 0px;

  li.verse-row {
    margin: 1px;
    padding: 1px;

    .word-note, .end-verse {
      display: inline-block;
      margin: 1px;
      padding: 1px;
      font-size: 16px;

      .note {
        margin: 0px;
        font-size: 20px;
      }

      .word {
        font-size: 16px;
      }
    }

    .end-verse {
      .verse-edit, .verse-delete {
        display: inline;
      }
    }

  }
}